.products_detail {
    background-color: #F8F8F8;
    padding: 70px 376px;
    max-width: 1512px;
}

.products_heading_logo{
    text-decoration: none;
    color: #0085FF;
}

.products_detail-content{
    display: flex;
    height: 322px;
}
.products_detail-information{
    margin-left: 30px;
}

.form_group-content {
    margin-top: 10px;
}

.form_group-title {
    color: #4B4B4B;
    font-size: 16px;
    height: 24px;
}

.products_detail_image, .form_group-text_preview{
    color: #888888;
    width: 374px;
}

.form_group-text_picture {
    border: none;
    height: 43px;
}

.form_group-text_seasons {
    width: 314px;
    height: 43px;
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin: 8px 0 5px 0;
    border: solid 1px #ffffff;
    accent-color: #000000;
}

.form_group-text_seasons-label {
    width: 41px;
    margin: 5px 0;
}

input[type=checkbox]:checked+.label_test:before {
    opacity: 1;
}

.form_group-text_name,
.form_group-text_price {
    height: 43px;
    width: 396px;
    border: solid 1px #E0DFDE;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}

.form_group-text_description {
    width: 800px;
    border: solid 1px #E0DFDE;
    border-radius: 5px;
    font-size: 14px;
    padding: 11px 10px;
    resize: none;
}

.form_error {
    color: #FD0707;
    font-size: 14px;
    margin-top: 5px;
}

.form_button {
    text-align: center;
    margin-top: 20px;
}

.form__button-back,
.form__button-update{
    height: 50px;
    width: 200px;
    margin: 0px 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 10px #0000001a;
}

.form__button-back {
    background-color: #E0DFDE;

}

.form__button-update {
    background-color: #F5C800;
}

.form__button-delete{
    margin-left: 80px;
    color: red;
    font-weight: bold;
    background-color: #ffffff00;
    border: none;
}