.products {
    background-color: #F8F8F8;
    padding-top: 70px;
    height: 1000px;
    max-width: 1512px;
}

.products_heading{
    height: 50px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
}

.products_heading-logo{
    margin: 0;
    font-size: 32px;
}

.products_heading_add{
    width: 137px;
    border: none;
    border-radius: 5px;
    background-color: #FFA929;
    text-align: center;
}

.products_heading_add-logo{
    font-size: 16px;
    color: #4B4B4B;
    font-weight: 600;
    text-decoration: none
}

.products_content{
    margin-top: 30px;
    padding: 0px 40px;
}

.products_content-side{
    width: 240px;
    line-height: 40px;
    display: flex;
}

.products_content_search{
    height: 114px;
    display: flex;
    flex-direction: column;
}

.products_content_search-input{
    height: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 14.5px 10px;
    border: solid 1px #E0DFDE;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.products_content_search-button{
    height: 44px;
    font-size: 16px;
    background-color: #F5C800;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #0000001a;
    
}